<configuration>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
	
	<logger name="org.springframework" level="info"	additivity="false">
		<appender-ref ref="stdout" />
	</logger>
	
	<logger name="org.freeplane" level="debug" additivity="false">
		<appender-ref ref="stdout" />
	</logger>

	<root level="debug">
		<appender-ref ref="stdout" />
	</root>

</configuration>